# See https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignTrailingComments : false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
IndentExternBlock: NoIndent
IndentWidth: 4
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
ReflowComments: true
TabWidth: 4
UseTab: Never
