BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignTrailingComments : false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
IndentExternBlock: NoIndent
IndentWidth: 4
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 1000
TabWidth: 4
